<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositorypath" value="NugetStore" />
	</config>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enable" value="true" />
		<add key="automatic" value="true" />
	</packageRestore>
</configuration>