<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Test" value="One"/>
	</appSettings>
	<connectionStrings>
		<add name="Test" connectionString="data source=localhost;initial catalog=master;integrated security=true;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>